# Joins y subconsultas

## Preparaci√≥n de los datos

Para esta clase vamos a utilizar la base de datos que creamos la clase pasada, sin embargo, ahora cargaremos 3 datasets a 3 tablas diferentes:
- netflix_titles [| descargar |](https://drive.google.com/file/d/1W4sczeFJxmlo_UeW8VqiqJhkRHHtQbZX/view?usp=sharing): contiene registros de 100 t√≠tulos reales de Netflix con datos descriptivos de cada uno.
- netflix_activity [| descargar |](https://drive.google.com/file/d/1TUgD6Wfaa5vA2T2XzqITMjt7a3G_kLaf/view?usp=sharing): un registro de la actividad de usuarios en Netflix. Cada fila representa un solo t√≠tulo visto por un usuario determinado en una fecha determinada.
- netflix_users [| descargar |](https://drive.google.com/file/d/1apav2JAuxRaTQ90I8CI9cYpuTxC6wUt1/view?usp=sharing): Este dataset contiene los nombres de los usuarios as√≠ como el user_id correspondiente a cada uno.

**NOTA:** *Si realizaste el challenge de la clase pasada, ¬°ya tienes la tabla netflix_titles! Repite los pasos que aprendiste para crear las dos tablas faltantes y pasa directo a "Tipos de JOIN".*

Sigue estos pasos para crear una nueva base de datos e importar un CSV en una tabla nueva.

1. Con√©ctate a MySQL Server: abre MySQL Workbench y haz clic en la conexi√≥n a tu servidor local. Ingresa tu usuario y contrase√±a.

¬øA√∫n no tienes hecha tu conexi√≥n? Averigua c√≥mo hacerla [aqu√≠](https://dev.mysql.com/doc/workbench/en/wb-mysql-connections-new.html)

2. Una vez conectado, acceda al men√∫ de schemas del lado izquierdo:

![schema0](https://drive.google.com/uc?export=view&id=1U0f_wShC6QU4c2WDNE7Vt0Hv2cR4xNvY)

3. Una vez en la secci√≥n de Schemas, has clic en un espacio en blanco y selecciona 'Create Schema...'

![schema11](https://drive.google.com/uc?export=view&id=1FSuEnZ6SVq_jwEomds1xu13uqpdh2esE)

4. Del lado derecho ver√°s algo como lo siguiente. All√≠, deber√°s ingresar el nombre 'master' como el nombre de tu Schema.
![schema2](https://drive.google.com/uc?export=view&id=1xIF_pHC-W1miKwNt5ghT0IjKjRjvn9Lo)

5. Sigue los pasos de la ventana que aparecer√° hasta que veas la siguiente pantalla:
![schema31](https://drive.google.com/uc?export=view&id=1cUliC80ZhXONdfyB3hjSNGD9sOMXEJ2P)

6. Ver√°s un nuevo √≠cono en Schemas con el nombre de tu schema, haz clic derecho sobre √©l y selecciona "Table Data Import Wizard"
![schema32](https://drive.google.com/uc?export=view&id=1WEPKNEM2bLSfJPVJ_46Mwanr3ofwZXAa)

7. Haz clic en "Browse" y selecciona el archivo "netflix_titles" que has descargado previamente.
![schema4](https://drive.google.com/uc?export=view&id=1X1ph4L-nGlgCSdLp8bBJ2NJAO1q8uCip)

8. En esta pantalla solo haz clic en "Next"
![schema5](https://drive.google.com/uc?export=view&id=1udbztvBZEkgm53j1MHGk1wif_KOMKfMP)

9. En esta pantalla, verifica que la peque√±a muestra de la tabla se muestre correctamente y haz clic en "Next"
![schema6](https://drive.google.com/uc?export=view&id=1SzctA8uFEa4rG3gYdEJpxaCkNnJT-gCO)

10. Finalmente, clic en "Next" a esta pantalla y espera a que se importen los datos. Al terminar haz clic en "Finish".
![schema7](https://drive.google.com/uc?export=view&id=1rn_zBpQ5ILq13nCpe189JVvFdKbCnb4o)

11. Ahora, en el editor de scripts del lado derecho, escribe:

```
use master;
show tables;
```

Deber√≠as ver el siguiente resultado:

![schema8](https://drive.google.com/uc?export=view&id=1vmdH5OCVs-wcT-uueqL8zsZW8rcQKrFj)

12. Repite los pasos 6 al 11 para insertar los dos datasets faltantes: netflix_activity y netflix_users

## Tipos de JOIN

Antes que nada, puedes echar un vistazo a tus tres tablas para ver qu√© contienen y su estructura:


```
USE master;

SELECT * FROM netflix_titles;
SELECT * FROM netflix_activity;
SELECT * FROM netflix_users;
```

Recuerda, hay diferentes tipos de JOIN en SQL:

- **(INNER) JOIN:** Devuelve registros que tienen valores coincidentes en ambas tablas.
- **LEFT (OUTER) JOIN:** Retorna todos los registros de la tabla "de la izquierda", y solo aquellas filas que coincidieron de la tabla "de la derecha". Las dem√°s filas que no coincidieron, son descartadas.
- **RIGHT (OUTER) JOIN:** Es lo mismo que un LEFT (OUTER) JOIN pero en la direcci√≥n opuesta, evitando que se pierdan registros de la tabla de la derecha.
- **FULL (OUTER) JOIN (CROSS JOIN en MySQL):** Devuelve todos los registros de ambas tablas.

![MySQL JOINs](https://drive.google.com/uc?export=view&id=1R6biBfWIpTEflCGxobHJzbeNMxcYe-24)

## (INNER) JOIN

**Problema:** la tabla netflix_activity contiene la actividad de los usuarios viendo programas. Necesitamos saber, en primer lugar, cu√°les fueron los shows vistos por cada usuario. Para lograr esto, necesitamos encontrar las coincidencias entre la tabla de actividad y la de t√≠tulos.

Vamos entonces a unir las tablas netflix_titles y netflix_activity mediante las columnas show y show_id:

```
SELECT netflix_titles.show_id, netflix_titles.title, netflix_activity.user_id
FROM netflix_titles
INNER JOIN netflix_activity ON netflix_titles.show_id=netflix_activity.show
ORDER BY show_id;
```

¬øQu√© significa que un mismo t√≠tulo aparezca en varias filas?

## LEFT (OUTER) JOIN
Lo anterior, nos gener√≥ una tabla con los todos los t√≠tulos vistos por los usuarios m√°s la columna user_id, pero... ¬øQui√©nes son esos usuarios? ¬°Nos encantar√≠a conocer sus nombres! Afortunadamente tenemos una tabla `netflix_users` y tambi√©n tiene una columna `user_id` y otra columna `nombre` ü§ì

Ahora, queremos a√±adir los nombres al resultado pero sin perder ninguna fila de la tabla del resultado anterior y descartando a los usuarios que no coincidan de la tabla de usuarios. Para realizar esto, nos sirve un `LEFT JOIN`.

```
SELECT netflix_titles.show_id, netflix_titles.title, netflix_activity.user_id, netflix_users.nombre
FROM netflix_titles
INNER JOIN netflix_activity ON netflix_titles.show_id=netflix_activity.show
LEFT JOIN netflix_users USING(user_id);
```

Nota que esta ver utilizamos USING dado que la columna en ambas tablas se llama igual.

### RIGHT (OUTER) JOIN
Veamos qu√© pasa si la consulta anterior la hacemos con un RIGHT JOIN en lugar de un LEFT JOIN. ¬øVes alguna diferencia en el resultado?

```
SELECT netflix_titles.show_id, netflix_titles.title, netflix_activity.user_id, netflix_users.nombre
FROM netflix_titles
INNER JOIN netflix_activity ON netflix_titles.show_id=netflix_activity.show
RIGHT JOIN netflix_users USING(user_id)
ORDER BY show_id;
```

Podremos ver mejor qu√© pasa con el RIGHT JOIN si unimos `netflix_activity` con `netflix_users`

```
SELECT netflix_activity.show, netflix_titles.show_id, netflix_titles.title, COUNT(*)
FROM netflix_titles
RIGHT JOIN netflix_activity ON netflix_activity.show=netflix_titles.show_id
GROUP BY netflix_activity.show
ORDER BY netflix_activity.show;
```

Observa al columna `show`. Podr√°s notar que algunos `show_id` faltan. Esto se debe a que hicimos el JOIN preservando las coincidencias de la tabla `netflix_activity` m√°s sus propias filas. Esto deja fuera las filas de `netflix_titles` que no coincidieron en `show_id` con `netflix_activity`.

### FULL (OUTER) JOIN (CROSS JOIN)
Como mencionamos anteriormente, CROSS JOIN es la forma de FULL JOIN en MySQL. Probemos su funcionamiento uniendo las tablas netflix_activity y netflix_titles.

```
SELECT netflix_activity.show, netflix_activity.user_id, netflix_titles.show_id, netflix_titles.title
FROM netflix_titles
CROSS JOIN netflix_activity ON netflix_activity.show=netflix_titles.show_id
ORDER BY netflix_activity.show;
```