### Muchas veces necesitamos utilizar operaciones basicas para calcular datos dentro de una tabla, es por consiguiente necesario que nos puedas ayudar con estos ejercicios:

Calcular el menor elemento por cada fila y columna, con la funcion min:

In [ ]:
import pandas as pd
import numpy as np

#Utiliza estos datos
datos = {'X': [1,2,3,4,5,6], 'Y':[15,58,40,25,3,8], 'Z':[25,45,10,8,9,7]}

In [2]:
#Pista: Usa el metodo DataFrame
pd.DataFrame(datos)

   X   Y   Z
0  1  15  25
1  2  58  45
2  3  40  10
3  4  25   8
4  5   3   9
5  6   8   7

In [5]:
#Pista: AXIS
print(pd.DataFrame(datos).min())
print(pd.DataFrame(datos).min(axis = 1))

X    1
Y    3
Z    7
dtype: int64
0    1
1    2
2    3
3    4
4    3
5    6
dtype: int64

¿Puedes hacer el ejercicio pero ahora con numeros aleatorios? Puedes revisar el notebook de crowdcoding para ver como lo hicimos en clases

In [12]:
#Tu codigo en esta celda
datos2 = {'X': np.arange(0,6), 'Y':np.arange(0,6), 'Z':[25,45,10,8,9,7]}
pd.DataFrame(datos2)

   X  Y   Z
0  0  0  25
1  1  1  45
2  2  2  10
3  3  3   8
4  4  4   9
5  5  5   7

In [18]:
lista_1 = ['a', 'b','c']
lista_2 = ['d', 'e', 'f']
[*lista_1, *lista_2, 'g']

['a', 'b', 'c', 'd', 'e', 'f', 'g']

Ahora necesito ubicar los indices como columnas dentro de mi DataFrame

In [20]:
#Utiliza los siguientes datos:
datos = {'X': [1,2,3,4,5,6], 'Y':[15,58,40,25,3,8], 'Z':[25,45,10,8,9,7]}
indices = ['a','b','c','d','e','f']
df3 = pd.DataFrame(datos, index = indices)
df3
#Pista: reset_index

   X   Y   Z
a  1  15  25
b  2  58  45
c  3  40  10
d  4  25   8
e  5   3   9
f  6   8   7

In [21]:
#Escribe aqui tu codigo :D
print(df3.reset_index(level = 0))

  index  X   Y   Z
0     a  1  15  25
1     b  2  58  45
2     c  3  40  10
3     d  4  25   8
4     e  5   3   9
5     f  6   8   7

Queremos seleccionar los registros que cumplan con una hora especifica

In [22]:
#Utiliza los siguientes datos
fechas = pd.date_range('2023-08-16',periods = 8, freq = '6H')
datos = {'A':list(range(1,9))}

df = pd.DataFrame(data=datos, index=fechas)
df

                     A
2023-08-16 00:00:00  1
2023-08-16 06:00:00  2
2023-08-16 12:00:00  3
2023-08-16 18:00:00  4
2023-08-17 00:00:00  5
2023-08-17 06:00:00  6
2023-08-17 12:00:00  7
2023-08-17 18:00:00  8

In [24]:
#Coloca tu codigo aqui 
#PISTA: at_time
df.at_time('12:00:00')

                     A
2023-08-16 12:00:00  3
2023-08-17 12:00:00  7

### Pivotea esta tabla de tal forma que cada columna corresponda a un tipo de automovil, el indice indique la marca y los valores el precio promedio

In [25]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')\
    .groupby(['Manufacturer', 'Type'])['Price'].agg(['mean'])\
    .rename(columns={"mean": "Precio Promedio"}).reset_index()

df.head()

  Manufacturer     Type  Precio Promedio
0        Acura    Small            15.90
1         Audi  Compact            29.10
2         Audi  Midsize            37.70
3          BMW  Midsize            30.00
4        Buick    Large            22.25

In [31]:
df.pivot?
df.pivot('Manufacturer','Type','Precio Promedio')

Type           Compact  Large  Midsize  Small  Sporty    Van
Manufacturer
Acura              NaN    NaN      NaN  15.90     NaN    NaN
Audi              29.1    NaN     37.7    NaN     NaN    NaN
BMW                NaN    NaN     30.0    NaN     NaN    NaN
Buick              NaN  22.25     21.0    NaN     NaN    NaN
Cadillac           NaN  34.70     40.1    NaN     NaN    NaN
Chevrolet         12.4  18.80     15.9    NaN   26.55  16.45
Chrysler          15.8  29.50      NaN    NaN     NaN    NaN
Dodge             13.3    NaN     15.6  10.25   25.80  19.00
Eagle              NaN  19.30      NaN  12.20     NaN    NaN
Ford              11.3  20.90     20.2   8.75   14.95  19.90
Geo                NaN    NaN      NaN   8.40   12.50    NaN
Honda             17.5    NaN      NaN  12.10   19.80    NaN
Hyundai            NaN    NaN     13.9   9.00     NaN    NaN
Infiniti           NaN    NaN     47.9    NaN     NaN    NaN
Lexus              NaN    NaN     28.0    NaN     NaN    NaN
Lincoln            NaN  36.10     34.3    NaN     NaN    NaN
Mazda             16.5    NaN      NaN   9.95   32.50  19.10
Mercedes-Benz     31.9    NaN     61.9    NaN     NaN    NaN
Mercury            NaN    NaN     14.9    NaN   14.10    NaN
Mitsubishi         NaN    NaN     26.1  10.30     NaN    NaN
Nissan            15.7    NaN     21.5  11.80     NaN  19.10
Oldsmobile        13.5  20.70     16.3    NaN     NaN  19.50
Plymouth           NaN    NaN      NaN    NaN   14.40    NaN
Pontiac           11.1  24.40     18.5   9.00     NaN    NaN
Saab              28.7    NaN      NaN    NaN     NaN    NaN
Saturn             NaN    NaN      NaN    NaN     NaN    NaN
Subaru            19.5    NaN      NaN   9.65     NaN    NaN
Toyota             NaN    NaN      NaN   9.80   18.40  22.70
Volkswagen        20.0    NaN      NaN   9.10   23.30  19.70
Volvo             22.7    NaN      NaN    NaN     NaN    NaN

In [ ]:
# Resultado esperado
#              Precio Promedio                                
# Type                 Compact  Large Midsize Small Sporty Van
# Manufacturer                                                
# Acura                    NaN    NaN     NaN  15.9    NaN NaN
# Audi                    29.1    NaN    37.7   NaN    NaN NaN
# BMW                      NaN    NaN    30.0   NaN    NaN NaN
# Buick                    NaN  22.25    21.0   NaN    NaN NaN
# Cadillac                 NaN  34.70    40.1   NaN    NaN NaN

### Haz un join con los siguientes DataFrames, usando para unir las columnas (fruit, pazham) y (weight-kilo)

In [ ]:
# Input
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           9   apple  high            8
1   apple   high           6   apple  high            8
2   apple   high           1   apple  high            8
3  orange    low          12  orange   low            5
4  orange    low           8  orange   low            5
5  orange    low          11  orange   low            5

In [ ]:
# Resultado esperado
#     fruit weight  price_left  pazham  kilo  price_right
# 0   apple   high           9   apple  high            8
# 1   apple   high           6   apple  high            8
# 2   apple   high           1   apple  high            8
# 3  orange    low          12  orange   low            5
# 4  orange    low           8  orange   low            5
# 5  orange    low          11  orange   low            5

## Dentro de nuestras tareas es encontrar valores que se encuentran fuera de lo "normal", conocidos como outliers, para este ejercicio, tengo el siguiente Dataset, y quiero hallar los outliers, que corresponden a la columna sueldo



1.  Debo considerar limpiar la columna de valores None, null
2.  Debo transformar los valores de mi columna remuneracion en valores de tipo flotante
3.  Debo hallar el Rango Intercuartilico(Recordemos que esto se halla restando el 'cuartil 75 - cuartil 25')
4.  El limite de mis outliers vendra drado por la formula en rango superior el 'cuartil 75 + 1.5* Rango Intercuartilico'
5.  El limite de mis outliers vendra drado por la formula en rango inferior el 'cuartil 25 - 1.5* Rango Intercuartilico'


BONUS: Haz un diagrama de Boxplot de esta columna

In [ ]:
#Utiliza este dataset
#Pistas: quantile, matplotlib

info_rem = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQU1L40Q0MqSYT9oNCedB4JxlpsNL9ff5b3MtdxNcoo9h_dx4HSU7iVwiHctd_xOdC1RFcqf_o-ffr2/pub?output=csv')
info_rem

,CARGO,EXPEDIENTE,Lugar de Postulación (Convocatoria),INDICACION DEL JURADO,FECHA DE SELECCIÓN,APELLIDOS Y NOMBRES,DNI,E-mail,Teléfonos,DISTRITO/ DIRECCION,INTERNO/ EXTERNO,Carta Oferta o felicitación,FECHA DE INGRESO,MODALIDAD (HIBRIDO/ PRESENCIAL),REMUNERACIÓN
0,ANALISTA DE CREDITOS,903 - 2021,ANTUNEZ DE MAYOLO,ACCE AVANZADO SUPERIOR - AG. ANTUNEZ DE MAYOLO,02/12/2021,"SARMIENTO MORALES, JORGE MANUEL",48126082.0,jmsm_21@hotmail.com,987181405,LIMA NORTE,EXTERNO,APLICA,03/01/2022,PRESENCIAL,2000
1,ANALISTA DE CREDITOS,903 - 2021,ANTUNEZ DE MAYOLO,ACCE AVANZADO EXPERTO – AG. ANTUNEZ DE MAYOLO,02/12/2021,"LOYOLA JORGE, MARISA ANGELA",70336326.0,mari92lj@gmail.com,955705511,LIMA NORTE,EXTERNO,APLICA,03/01/2022,PRESENCIAL,1700
2,ANALISTA DE CREDITOS,913 - 2021,ANTUNEZ DE MAYOLO,ACCE AVANZADO SUPERIOR - AG. ANTUNEZ DE MAYOLO,11/12/2021,"PECEROS ZAVALA, RUTH PAOLA",45942433.0,pola3603@gmail.com,993085 362,LIMA NORTE,EXTERNO,APLICA,03/01/2022,PRESENCIAL,2000
3,ANALISTA DE CREDITOS,921-2021,TACNA,AC AVANZADO SUPERIOR - AG. PINTO,16/12/2021,Dante Rojas Huanacuni,41432183.0,edrh_20@hotmail.com,952953290,TACNA,EXTERNO,APLICA,03/01/2022,PRESENCIAL,2000
4,ANALISTA DE CREDITOS,941-2021,ANTUNEZ DE MAYOLO,ACCE AVANZADO SUPERIOR - AG. ANTUNEZ DE MAYOLO,15/12/2021,"URBANO IVARROLA, JOSE DANIEL",47691837.0,d.urbano1404@gmail.com,997422069,LIMA NORTE,EXTERNO,APLICA,03/01/2022,PRESENCIAL,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,ANALISTA DE CREDITOS,172 - 2022,ICA SAN MARTIN,ANALISTA DE CREDITOS EXPERTO - AG. ICA SAN MARTIN,09/03/2022,"SALGADO DIAZ VDA. DE RAFFO, AURORA SUSANAO",21574610.0,aurosalgado26@hotmail.com,945575364,ICA SAN MARTIN,EXTERNO,APLICA,21/03/2022,PRESENCIAL,2400
369,ANALISTA DE CREDITOS,NaN,LA OROYA,NaN,10/03/2022,Ruben Paul Basaldua Papuico,72858626.0,basalduapapuicorubenpaul@gmail.com,936060147,LA OROYA,EXTERNO,APLICA,21/03/2022,PRESENCIAL,1700
370,ANALISTA DE CREDITOS,NaN,LA OROYA,NaN,10/03/2022,Jovino Rosendo Contreras Soto,40852380.0,jovino_cs@hotmail.com,965333754,LA OROYA,EXTERNO,NaN,NaN,PRESENCIAL,NaN
371,ANALISTA DE CREDITOS,NaN,CERRO DE PASCO,NaN,11/01/2022,Walter Orlando Zevallos Luis,71922476.0,wzx_14_10@hotmail.com,925142158,CERRO DE PASCO,EXTERNO,APLICA,21/03/2022,PRESENCIAL,1400
372,PRACTICANTE PRE- PROFESIONAL DE INFRAESTRUCTUA...,NaN,AREQUIPA,PRACTICANTE PRE- PROFESIONAL DE INFRAESTRUCTUA...,11/03/2022,"CALDAS CHIRINOS, RENZO ADRIAN",72672599.0,renzo.caldas.ch@gmail.com,925185682,AREQUIPA,EXTERNO,APLICA,21/03/2022,HIBRIDO,930

Debo obener los siguientes indices




![image.png]()